.App {
    text-align: center;
}

h1 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form[id="login"] {
    width: 500px;
    padding: 20px;
    background-color: #ffffff29;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type=text] {
    align-items: center;
    border-radius: 12px;
    max-width: 1000px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    outline: none;
    justify-content: center;
}

input:focus {
    box-shadow: 0 0 0 0.2rem #719de640;
    border: 1px solid #5d93e9e4;
}

input:invalid {
    animation: shake 300ms;
    box-shadow: 0 0 0 0.2rem #719de640;
    border: 1px solid #e83b3be4;
}

.alert {
    display: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:invalid + .alert {
    display: block;
    margin: 5px 0;
    font-size: 20px;
    color: red;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

.App-input {
    align-items: center;
    width: 90%;
    border-radius: 12px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    outline: none;
    justify-content: center;
    transition: 0.3s;
}

.App-checkbox {
    cursor: pointer;
    transition: 0.3s;
}

.App-button {
    writing-mode: horizontal-tb !important;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 90%;
    border-radius: 12px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    text-align: center;
    padding: 10px;
    background: #282c34;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.App-button:hover{
    box-shadow: 0 0 30px #282c34,
    0 0 30px #282c34;
}

.App-input:hover{
    box-shadow: 0 0 30px #282c34,
    0 0 30px #282c34;
}

.App-checkbox:hover{
    box-shadow: 0 0 30px #282c34,
    0 0 30px #282c34;
}

label {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
}

a {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
}

.App-logo {
    height: 35vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-image: url("https://wallpaperaccess.com/full/718097.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.App-link {
    color: #282c34;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
